.modal {
    width: 1000px;
    height: 600px;
    border: 1px solid rgb(11, 41, 207);
    background-color: white;
    transition: all .5s linear;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.close-modal {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 50px;
    position: absolute;
    right: 30px;
    top: 5px;
    color: rgb(10, 18, 68);
    cursor: pointer;
}

.center-items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-items>* {
    margin: 10px 0;
}

